/* ANIMATION MENU */

.menu-anim .menu-anim-dynamic,
.menu-anim .menu-anim-dynamic p {
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all ease 0.7s;
}

.menu-anim.active .menu-anim-dynamic,
.menu-anim:hover .menu-anim-dynamic {
    transform: translateY(-100%);
}

.menu-anim.active .menu-anim-dynamic p,
.menu-anim:hover .menu-anim-dynamic p {
    transform: translateY(100%);
}

/* ANIMATION H1 ACCUEIL */

.letter-anim .letter-anim-dynamic,
.letter-anim .letter-anim-dynamic p {
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all ease 0.7s;
}

.letter-anim.active .letter-anim-dynamic,
.letter-anim:hover .letter-anim-dynamic {
    transform: translateX(100%);
}

.letter-anim.active .letter-anim-dynamic p,
.letter-anim:hover .letter-anim-dynamic p {
    transform: translateX(-100%);
}

/* ANIMATION PROGRESS */



.progress2 {
    margin: 0 6px 6px 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}
  
#html .progress-moved .progress-bar2  {
    width: 85%;
    background-color: #48df4f;  
    animation: progressAnimation 6s;
}
  
@keyframes progressAnimation {
    0%   { width: 5%; background-color: #bcf9c6;}
    100% { width: 85%; background-color:  #48df4f; }
}