html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

nav {
    height: 100vh;
    width: 60px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #181818;
}


nav ul {
    padding-left: 0;
}


nav li {
    list-style: none;
}

.fa-home, .fa-id-card, .fa-cog, .fa-eye, .fa-envelope {
    color: white;
    font-size: 30px;
}


/* #home_logo:hover{
    
} */

