body {
    margin: 0;
    /* display: flex; */
}

nav {
    background-color: #181818;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    padding: 0;
}

nav li {
    margin-top: 3px;
    list-style: none;
}

.fa-home, .fa-id-card, .fa-cog, .fa-eye, .fa-envelope, .fa-linkedin-in {
    color: white;
    font-size: 30px;
}

section {
    position: relative;
    /* display: flex;
    justify-content: center; */
}