/* PARAMETRES GENERAUX */

    *, *::before, *::after {
        box-sizing: border-box;
    }

    #main_screen > .row {
        min-height: 90vh;
    }

    footer {
        min-height: 10vh;
        text-align: center;
    }

    .flex-fill {
        flex:1 1 auto;
    }

    body {
        background-color: #333333;
        color: #ffffff;

    }

    .container-fluid, .col-sm-1, .col-sm-11, .row {
        padding: 0;
        margin: 0;
    }

/* MENU */

    header {
        background-color: #181818;
        text-align: center;
    }

    nav > ul {
        padding-left: 0;
    }

    .fa-home, .fa-id-card, .fa-cog, .fa-eye, .fa-envelope, .fa-linkedin-in {
        color: white;
        font-size: 25px;
    }

    .menu-anim {
        position: relative;
        background-color:#181818;
        overflow: hidden;
        cursor: pointer;
    }

    .menu-anim .menu-anim-dynamic {
        background-color: #181818;
        overflow: hidden;
    }

    .menu-anim-static { 
        font-size: 11px;
    }

/* TITRES */

    h1 {
        font-size: 50px;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        font-style: italic;
        color:#c4c3c3;
    }

    h3 {
        font-size: 15px;
        font-style: italic;
        color:#b3b3b3;
    }
    
    h4 {
        font-size: 15px;
        color:#b3b3b3;
    }

/* LIENS */

    a {
        color: #ffffff;
        text-decoration: underline;
    }

    a:visited {
        color: #ff7373;
    }

    a:hover {
        color: #48df4f;
    }

/* PAGE SKILLS */

    #main-section {
        width: 100%;
    }

    #skills {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-between;
    }
