@media screen and (max-width: 1024px){

    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        height: 70px;
        width: auto;
        display: flex;
        flex-direction: row;
        /* align-items: unset; */
        padding: 0 0.5em 0 0.5em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: unset;

    }

    nav li {
        width: 64px;
        height: auto;
        
    }
}


